@import "./variables";

@media (min-width: 760px) {
	.header {
		position: sticky;
		top: 0;
		z-index: 100;
		background-color: transparent;
		display: flex;
		justify-content: end;
	}
}

.logo {
	margin: 0rem 0 0 0.5rem;

	& > a > img {
		width: 2.5rem;
		height: 2.5rem;

		@media (min-width: 760px) {
			width: 5rem;
			height: 5rem;
		}
	}
}

.main {
	margin-top: 2rem;
	transition: all 500ms ease;

	@media (min-width: 760px) {
		margin-top: 0;
	}

	.hero {
		display: grid;
		grid-template-columns: 1fr 2fr;
		align-items: center;
		justify-items: start;

		&-image > picture > img {
			width: 200%;
			height: 100%;
			margin-left: -3.5rem;
			animation: scale-up-hor-left 1s cubic-bezier(0.39, 0.575, 0.565, 1) 500ms
				both;

			@keyframes scale-up-hor-left {
				0% {
					transform: scaleX(0.4);
					transform-origin: 0% 0%;
				}
				100% {
					margin-left: -2rem;
					transform: scaleX(1);
					transform-origin: 0% 0%;
				}
			}

			@media (min-width: 1000px) {
				width: 50rem;
			}
		}

		&-cta {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: start;
			justify-content: start;
			gap: 1rem;
			place-items: center;
			margin-bottom: 5rem;

			&-flex-container {
				display: flex;
				gap: 0.5rem;
				position: relative;

				&:nth-of-type(2) {
					align-items: center;
				}

				& > .btn-line {
					transform: rotate(90deg);
					width: 1px;
					height: 40px;
					background-color: var(--color-neutral-900);
					border: none;
					margin-right: 1rem;
				}

				& > div {
					display: flex;
					align-items: center;
					justify-content: center;
					gap: clamp(0.69rem, calc(0.34rem + 1.75vw), 1.92rem);
				}

				& > div > span {
					text-transform: uppercase;
					font-size: var(--font-size-100);
				}
			}

			&-title {
				font-size: var(--font-size-400);
				text-transform: uppercase;

				& > .red {
					font-size: var(--font-size-500);
					background: linear-gradient(
						180deg,
						rgba(101, 9, 4, 1) 11%,
						rgba(167, 10, 5, 1) 56%,
						rgba(211, 129, 5, 1) 96%
					);
					-webkit-background-clip: text;
					background-clip: text;
					-webkit-text-fill-color: transparent;
				}
			}

			&-title-line {
				width: 1px;
				background-color: var(--color-neutral-900);
				border: none;

				@media (min-width: 760px) {
					transform: rotate(90deg);
					height: 5rem;
					position: absolute;
					top: -1rem;
					left: -3rem;
				}
			}
		}
	}
}

.about {
	display: grid;
	grid-template-columns: 4fr 1fr;
	margin-top: 1rem;
	margin-bottom: 1rem;

	&-content {
		display: grid;
		grid-template-columns: 1fr 4fr;

		&-scroll-component {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			gap: 1rem;

			@media (min-width: 760px) {
				pointer-events: none;
				opacity: 0;
			}

			.square-mark {
				width: 1rem;
				height: 1rem;
				border-radius: 1px;
				/* centering the circle */
				display: flex;
				justify-content: center;
				align-items: center;

				.red-circle {
					width: 0.8rem;
					height: 0.8rem;
					border-radius: 100vmax;
				}
			}

			.square-mark:nth-of-type(2) {
				width: 1rem;
				height: 1rem;
				border-radius: 1px;
				/* centering the circle */
				display: flex;
				justify-content: center;
				align-items: center;

				// @media (min-width: 760px) {
				// 	display: none;
				// }
			}

			& > hr:nth-of-type(1) {
				width: 1px;
				flex: 1;
				border: none;

				// @media (min-width: 760px) {
				// 	display: none;
				// }
			}

			// & > hr:nth-of-type(2) {
			// 	width: 1px;
			// 	flex: 1;
			// 	border: none;
			// }
		}

		&-text {
			display: flex;
			flex-direction: column;
			justify-content: end;
			min-height: 18rem;
			position: relative;
			overflow-y: hidden;

			& > p {
				line-height: 1.5;
				overflow: hidden;
			}

			& > p > .red {
				color: var(--color-accent-700);
				font-size: var(--font-size-300);
				font-weight: bold;
			}
		}
	}

	&-social-container {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		gap: 1rem;

		& > a > img {
			width: clamp(2.5rem, calc(0.47rem + 3.64vw), 3.75rem);
			height: clamp(2.5rem, calc(0.47rem + 3.64vw), 3.75rem);
		}

		@media (min-width: 760px) {
			flex-direction: row;
			grid-row: 2;
			justify-content: space-between;
			margin-left: 15rem;
			margin-top: 5rem;
			gap: 3rem;
		}
	}
}

.active-text {
	font-size: var(--font-size-200);
	line-height: 1.5;
	transition: all 500ms ease;
	position: absolute;
	transform: translateY(0);
	top: 0;

	@media (min-width: 760px) {
		position: static;
		transform: none;
	}
}

.inactive-text {
	position: absolute;
	pointer-events: none;
	opacity: 0;
	transform: translateY(100%);
	font-size: var(--font-size-200);

	@media (min-width: 760px) {
		position: static;
		transform: none;
		opacity: 1;
		pointer-events: all;
	}
}

.active {
	transition: all 500ms ease;
	background-color: var(--color-neutral-900);

	.red-circle {
		background-color: var(--color-accent-700);
	}

	hr:nth-of-type(1) {
		background-color: var(--color-neutral-900);
	}
}

.inactive {
	transition: all 500ms ease;
	background-color: var(--color-neutral-500);

	hr:nth-of-type(2) {
		background-color: var(--color-neutral-500);
	}
}

.arrow {
	background-color: var(--color-neutral-900);
	color: var(--color-accent-700);
	padding: 5px 10px;
	// height: clamp(1rem, calc(0.43rem + 2.86vw), 3rem);
	border-radius: 100%;
	font-size: var(--font-size-200);
	border: none;
	outline: none;
	margin-left: 0.5rem;
	cursor: pointer;

	@media (min-width: 760px) {
		padding: 10px 20px;
	}

	@media (min-width: 1400px) {
		padding: 10px 25px;
	}
}
