#timedate {
	font: small-caps lighter 43px/150% 'Segoe UI', Frutiger, 'Frutiger Linotype',
		'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
	text-align: left;
	display: flex;
	flex-direction: row;
	gap: 1rem;
	left: 10%;
	top: 0;
	margin-top: 0.5rem;
	color: #fff;
	border-left: 3px solid #ed1f24;
	padding-left: 0.9rem;
	font-size: clamp(1rem, calc(0.43rem + 2.86vw), 2rem);
	position: absolute;

	@media (max-width: 760px) {
		display: none;
	}
}
