/* Main menu positionning */
/* https://codepen.io/GeoffreyCrofte/pen/ajKVRq*/

.main-nav {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	text-align: center;
	background: transparent;
	opacity: 0;
	z-index: 1;
	visibility: hidden;
	transition: all 0.5s;
	opacity: 1;

	@media (min-width: 760px) {
		opacity: 1;
		visibility: visible;
		background-color: var(--color-neutral-100);
		right: auto;
		top: -30%;
		margin-left: -1.5rem;
		margin-top: 1rem;
		min-height: 100vh;
	}
}

.main-nav.is-open {
	opacity: 1;
	z-index: 100;
	visibility: visible;
}

/* Yellow band effect */
.main-nav::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #650904;
	transform-origin: 0 0;
	transform: skew(-14deg) translateX(-120%);
	transition: all 0.275s 0.1s;

	@media (min-width: 760px) {
		display: none;
		transform: none;
	}
}

.main-nav.is-open::before {
	transform: skew(-14deg) translateX(0);

	@media (min-width: 760px) {
		transform: none;
	}
}

/* Skewing effect on menu links */
.main-nav ul {
	display: inline-flex;
	flex-direction: column;
	height: 93%; /* Should be 100%, but we have a notice message :D */
	align-items: flex-end;
	justify-content: center;
	transform: translateX(-18%) skew(-16deg);

	@media (min-width: 760px) {
		transform: none !important;
		display: flex;
		align-items: start;
		justify-content: space-around;
		margin-top: 2rem;
	}
}

.main-nav li {
	display: block;
	margin: 0.5rem 0;
	text-align: right;
	transform: skew(16deg);

	@media (min-width: 760px) {
		transform: none;
		text-align: center;
		transform: rotate(-90deg);
	}
}

/* Apparition effect on links */
.main-nav a {
	opacity: 0;
	transform: translateY(-10px);

	@media (min-width: 760px) {
		opacity: 1;
		transform: none;
	}
}

.main-nav.is-open a {
	opacity: 1;
	transform: translateY(0);

	@media (min-width: 760px) {
		transform: none;
	}
}
.main-nav li:nth-child(1) a {
	transition: all 275ms;
}
.main-nav li:nth-child(2) a {
	transition: all 275ms;
}
.main-nav li:nth-child(3) a {
	transition: all 275ms;

	@media (min-width: 760px) {
		margin-left: 1.2rem;
	}
}

/* Decoration */
.main-nav ul,
.main-nav li {
	list-style: none;
	padding: 0;
}
.main-nav a {
	display: block;
	padding: 12px 0;
	color: #dededd;
	font-size: clamp(1.4rem, calc(0.47rem + 3.64vw), 2rem);
	text-decoration: none;
	font-weight: bold;
}

/* Burger Style: @see: https://codepen.io/CreativeJuiz/full/oMZNXy */
.open-main-nav {
	position: absolute;
	top: 15px;
	padding-top: 20px;
	right: 15px;
	z-index: 1000;
	background: none;
	border: 0;
	cursor: pointer;
}
.open-main-nav:focus {
	outline: none;
}
.burger {
	position: relative;
	display: block;
	width: 28px;
	height: 4px;
	margin: 0 auto;
	background: #dededd;
	transform: skew(5deg);
	transition: all 0.275s;

	@media (min-width: 760px) {
		display: none;
	}
}

.burger:after,
.burger:before {
	content: '';
	display: block;
	height: 100%;
	background: #dededd;
	transition: all 0.275s;
}

.burger:after {
	transform: translateY(-12px) translateX(-2px) skew(-20deg);
}

.burger:before {
	transform: translateY(-16px) skew(-10deg);
}

/* Toggle State part */
.is-open .burger {
	transform: skew(5deg) translateY(-8px) rotate(-45deg);
}

.is-open .burger:before {
	transform: translateY(0px) skew(-10deg) rotate(75deg);
}

.is-open .burger:after {
	transform: translateY(-12px) translateX(10px) skew(-20deg);
	opacity: 0;
}

/* MENU Text part */

.burger-text {
	display: block;
	font-size: 0.675rem;
	letter-spacing: 0.05em;
	margin-top: 0.5em;
	text-transform: uppercase;
	font-weight: 500;
	text-align: center;
	color: #dededd;

	@media (min-width: 760px) {
		display: none;
	}
}
