@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500;700&display=swap");
.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--color-neutral-100);
  padding: 2%;
}

.main-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  background: transparent;
  opacity: 0;
  z-index: 1;
  visibility: hidden;
  transition: all 0.5s;
  opacity: 1;
}
@media (min-width: 760px) {
  .main-nav {
    position: absolute;
    opacity: 1;
    visibility: visible;
    background-color: var(--color-neutral-100);
    right: auto;
    top: -30%;
    margin-left: -1.65rem;
    margin-top: 1rem;
    min-height: 100vh;
    width: 5rem;
    padding-left: 1.65rem;
  }
}

.main-nav.is-open {
  opacity: 1;
  z-index: 100;
  visibility: visible;
}

.main-nav::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-neutral-100);
  transform-origin: 0 0;
  transform: translateX(-120%);
  transition: all 0.275s 0.1s;
}
@media (min-width: 760px) {
  .main-nav::before {
    display: none;
    transform: none;
  }
}

.main-nav.is-open::before {
  transform: translateX(0);
}
@media (min-width: 760px) {
  .main-nav.is-open::before {
    transform: none;
  }
}

.main-nav ul {
  display: inline-flex;
  flex-direction: column;
  height: 93%; /* Should be 100%, but we have a notice message :D */
  justify-content: center;
  align-items: center;
}
@media (min-width: 760px) {
  .main-nav ul {
    transform: none !important;
    display: flex;
    justify-content: space-evenly;
    gap: 10rem;
    margin-top: 2.5rem;
  }
}

.main-nav li {
  display: block;
  margin: 0.5rem 0;
  text-align: right;
}
@media (min-width: 760px) {
  .main-nav li {
    transform: none;
    text-align: center;
    transform: rotate(-90deg);
  }
}

/* Apparition effect on links */
.main-nav a {
  opacity: 0;
  transform: translateY(-10px);
}
@media (min-width: 760px) {
  .main-nav a {
    opacity: 1;
    transform: none;
  }
}

.main-nav.is-open a {
  opacity: 1;
  transform: translateY(0);
}
@media (min-width: 760px) {
  .main-nav.is-open a {
    transform: none;
  }
}

.main-nav li:nth-child(1) a {
  transition: all 275ms;
}

.main-nav li:nth-child(2) a {
  transition: all 275ms;
}

.main-nav li:nth-child(3) a {
  transition: all 275ms;
}
@media (min-width: 760px) {
  .main-nav li:nth-child(3) a {
    margin-left: 1.2rem;
  }
}

/* Decoration */
.main-nav ul,
.main-nav li {
  list-style: none;
  padding: 0;
}

.main-nav a {
  display: block;
  padding: 12px 0;
  color: #dededd;
  font-size: clamp(1.4rem, 0.47rem + 3.64vw, 1.7rem);
  text-decoration: none;
  font-weight: bold;
}

/* Burger Style: @see: https://codepen.io/CreativeJuiz/full/oMZNXy */
.open-main-nav {
  position: absolute;
  top: 4px;
  padding-top: 20px;
  right: 15px;
  z-index: 1000;
  background: none;
  border: 0;
  cursor: pointer;
}

.open-main-nav:focus {
  outline: none;
}

.burger {
  display: block;
  width: 28px;
  height: 4px;
  margin: 0 auto;
  background: #dededd;
  transform: skew(5deg);
  transition: all 0.275s;
}
@media (min-width: 760px) {
  .burger {
    display: none;
  }
}

.burger:after,
.burger:before {
  content: "";
  display: block;
  height: 100%;
  background: #dededd;
  transition: all 0.275s;
}

.burger:after {
  transform: translateY(-12px) translateX(-2px) skew(-20deg);
}

.burger:before {
  transform: translateY(-16px) skew(-10deg);
}

/* Toggle State part */
.is-open .burger {
  transform: skew(5deg) translateY(-8px) rotate(-45deg);
}

.is-open .burger:before {
  transform: translateY(0px) skew(-10deg) rotate(75deg);
}

.is-open .burger:after {
  transform: translateY(-12px) translateX(10px) skew(-20deg);
  opacity: 0;
}

/* MENU Text part */
.burger-text {
  display: block;
  font-size: 0.675rem;
  letter-spacing: 0.05em;
  margin-top: 0.5em;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  color: #dededd;
  position: sticky;
  top: 0;
}
@media (min-width: 760px) {
  .burger-text {
    display: none;
  }
}

:root {
  --font-style: "Cormorant", serif;
  --font-size-100: clamp(0.69rem, calc(0.34rem + 1.75vw), 1.92rem);
  --font-size-200: clamp(0.83rem, calc(0.39rem + 2.24vw), 2.4rem);
  --font-size-300: clamp(1rem, calc(0.43rem + 2.86vw), 2rem);
  --font-size-400: clamp(1.2rem, calc(0.47rem + 3.64vw), 3.75rem);
  --font-size-500: clamp(1.44rem, calc(0.51rem + 4.64vw), 4.69rem);
  --font-size-700: 3rem;
  --font-size-900: 4rem;
  --color-neutral-100: #010101;
  --color-neutral-500: #5a5a5a;
  --color-neutral-900: #dededd;
  --color-accent-100: #650904;
  --color-accent-400: #a70a05;
  --color-accent-700: #d31005;
  --color-accent-pale: #b8605a;
}

@media (min-width: 760px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: transparent;
    display: flex;
    justify-content: end;
  }
}
.logo {
  margin: 0rem 0 0 0.5rem;
}
.logo > a > img {
  width: 2.5rem;
}
@media (min-width: 760px) {
  .logo > a > img {
    width: 5rem;
  }
}

.main {
  margin-top: 2rem;
  transition: all 500ms ease;
}
@media (min-width: 760px) {
  .main {
    margin-top: 0;
  }
}
.main .hero {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-items: start;
}
.main .hero-image > picture > img {
  width: 200%;
  height: 100%;
  margin-left: -3.5rem;
  animation: scale-up-hor-left 1s cubic-bezier(0.39, 0.575, 0.565, 1) 500ms both;
}
@keyframes scale-up-hor-left {
  0% {
    transform: scaleX(0.4);
    transform-origin: 0% 0%;
  }
  100% {
    margin-left: -2rem;
    transform: scaleX(1);
    transform-origin: 0% 0%;
  }
}
@media (min-width: 1000px) {
  .main .hero-image > picture > img {
    width: 50rem;
  }
}
.main .hero-cta {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 1rem;
  place-items: center;
  margin-bottom: 5rem;
}
.main .hero-cta-flex-container {
  display: flex;
  gap: 0.5rem;
  position: relative;
}
.main .hero-cta-flex-container:nth-of-type(2) {
  align-items: center;
}
.main .hero-cta-flex-container > .btn-line {
  transform: rotate(90deg);
  width: 1px;
  height: 40px;
  background-color: var(--color-neutral-900);
  border: none;
  margin-right: 1rem;
}
.main .hero-cta-flex-container > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(0.69rem, 0.34rem + 1.75vw, 1.92rem);
}
.main .hero-cta-flex-container > div > span {
  text-transform: uppercase;
  font-size: var(--font-size-100);
}
.main .hero-cta-flex-container > div > button {
  color: var(--color-accent-700);
  width: clamp(1rem, 0.43rem + 2.86vw, 3rem);
  height: clamp(1rem, 0.43rem + 2.86vw, 3rem);
  border-radius: 100%;
  font-size: var(--font-size-200);
  border: none;
  outline: none;
  margin-left: 0.5rem;
  flex: 1;
}
.main .hero-cta-title {
  font-size: var(--font-size-400);
  text-transform: uppercase;
}
.main .hero-cta-title > .red {
  font-size: var(--font-size-500);
  background: linear-gradient(180deg, rgb(101, 9, 4) 11%, rgb(167, 10, 5) 56%, rgb(211, 129, 5) 96%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main .hero-cta-title-line {
  width: 1px;
  background-color: var(--color-neutral-900);
  border: none;
}
@media (min-width: 760px) {
  .main .hero-cta-title-line {
    transform: rotate(90deg);
    height: 5rem;
    position: absolute;
    top: -1rem;
    left: -3rem;
  }
}

.about {
  display: grid;
  grid-template-columns: 4fr 1fr;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.about-content {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.about-content-scroll-component {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 760px) {
  .about-content-scroll-component {
    pointer-events: none;
    opacity: 0;
  }
}
.about-content-scroll-component .square-mark {
  width: 1rem;
  height: 1rem;
  border-radius: 1px;
  /* centering the circle */
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-content-scroll-component .square-mark .red-circle {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 100vmax;
}
.about-content-scroll-component .square-mark:nth-of-type(2) {
  width: 1rem;
  height: 1rem;
  border-radius: 1px;
  /* centering the circle */
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-content-scroll-component > hr:nth-of-type(1) {
  width: 1px;
  flex: 1;
  border: none;
}
.about-content-text {
  display: flex;
  flex-direction: column;
  justify-content: end;
  min-height: 18rem;
  position: relative;
  overflow-y: hidden;
}
.about-content-text > p {
  line-height: 1.5;
  overflow: hidden;
}
.about-content-text > p > .red {
  color: var(--color-accent-700);
  font-size: var(--font-size-300);
}
.about-social-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}
.about-social-container > a > img {
  width: clamp(2.5rem, 0.47rem + 3.64vw, 3.75rem);
  height: clamp(2.5rem, 0.47rem + 3.64vw, 3.75rem);
}
@media (min-width: 760px) {
  .about-social-container {
    flex-direction: row;
    grid-row: 2;
    justify-content: space-between;
    margin-left: 15rem;
    margin-top: 5rem;
    gap: 3rem;
  }
}

.active-text {
  font-size: var(--font-size-200);
  line-height: 1.5;
  transition: all 500ms ease;
  position: absolute;
  transform: translateY(0);
  top: 0;
}
@media (min-width: 760px) {
  .active-text {
    position: static;
    transform: none;
  }
}

.inactive-text {
  position: absolute;
  pointer-events: none;
  opacity: 0;
  transform: translateY(100%);
  font-size: var(--font-size-200);
}
@media (min-width: 760px) {
  .inactive-text {
    position: static;
    transform: none;
    opacity: 1;
    pointer-events: all;
  }
}

.active {
  transition: all 500ms ease;
  background-color: var(--color-neutral-900);
}
.active .red-circle {
  background-color: var(--color-accent-700);
}
.active hr:nth-of-type(1) {
  background-color: var(--color-neutral-900);
}

.inactive {
  transition: all 500ms ease;
  background-color: var(--color-neutral-500);
}
.inactive hr:nth-of-type(2) {
  background-color: var(--color-neutral-500);
}

:root {
  --font-style: "Cormorant", serif;
  --font-size-100: clamp(0.69rem, calc(0.34rem + 1.75vw), 1.92rem);
  --font-size-200: clamp(0.83rem, calc(0.39rem + 2.24vw), 2.4rem);
  --font-size-300: clamp(1rem, calc(0.43rem + 2.86vw), 2rem);
  --font-size-400: clamp(1.2rem, calc(0.47rem + 3.64vw), 3.75rem);
  --font-size-500: clamp(1.44rem, calc(0.51rem + 4.64vw), 4.69rem);
  --font-size-700: 3rem;
  --font-size-900: 4rem;
  --color-neutral-100: #010101;
  --color-neutral-500: #5a5a5a;
  --color-neutral-900: #dededd;
  --color-accent-100: #650904;
  --color-accent-400: #a70a05;
  --color-accent-700: #d31005;
  --color-accent-pale: #b8605a;
}

.portfolio {
  text-align: center;
  min-height: 100vh;
  margin: 5rem 0;
}
@media (min-width: 760px) {
  .portfolio {
    margin-top: 15rem;
  }
}
.portfolio-title {
  font-size: var(--font-size-400);
  margin-bottom: 2rem;
}
.portfolio-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
@media (min-width: 760px) {
  .portfolio-projects {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.project {
  transform: translateY(15%);
  opacity: 0;
  transition: all 2s ease;
}

.card {
  background: #fff;
  border: 2px solid #fff;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  overflow: hidden;
  position: relative;
  width: 15rem;
}
@media (min-width: 760px) {
  .card {
    width: 25rem;
    height: 30rem;
  }
}

.card img {
  width: 15rem;
  height: 20rem;
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}
@media (min-width: 760px) {
  .card img {
    width: 25rem;
    height: 30rem;
  }
}

.descriptions {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.7);
  width: 15rem;
  height: 100%;
  transition: all 0.7s ease-in-out;
  padding: 20px;
  box-sizing: border-box;
  clip-path: circle(0% at 100% 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.descriptions-anchors {
  display: flex;
  justify-content: space-evenly;
}
.descriptions-anchors > a {
  font-size: var(--font-size-300);
  text-decoration: none;
  cursor: pointer;
  color: var(--color-neutral-100);
  text-transform: uppercase;
  background-color: var(--color-neutral-900);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-weight: 900;
  transition: all 500ms ease;
}
.descriptions-anchors > a:hover {
  color: var(--color-neutral-900);
  background-color: var(--color-neutral-100);
  animation: heartbeat 1.5s ease-in-out infinite both;
}
@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
@media (min-width: 760px) {
  .descriptions {
    width: 25rem;
    height: 30rem;
  }
}

.card:hover .descriptions {
  left: 0px;
  transition: all 0.7s ease-in-out;
  clip-path: circle(75%);
}

.card:hover {
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  transform: scale(0.97);
}

.card:hover img {
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transform: scale(1.6) rotate(20deg);
  filter: blur(3px);
}

.card h2 {
  background: linear-gradient(180deg, rgb(101, 9, 4) 11%, rgb(167, 10, 5) 56%, rgb(211, 129, 5) 96%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  letter-spacing: 1px;
  margin: 0px;
  font-size: var(--font-size-400);
}

.card p {
  line-height: 1.5;
  color: var(--color-neutral-100);
  font-size: var(--font-size-300);
  font-weight: 500;
}

.slide-in {
  transform: translateX(0);
  opacity: 1;
}

#timedate {
  font: small-caps lighter 43px/150% "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  text-align: left;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  left: 10%;
  top: 0;
  margin-top: 0.5rem;
  color: #fff;
  border-left: 3px solid #ed1f24;
  padding-left: 0.9rem;
  font-size: clamp(1rem, 0.43rem + 2.86vw, 2rem);
  position: absolute;
}
@media (max-width: 760px) {
  #timedate {
    display: none;
  }
}

.contact {
  min-height: 100vh;
  margin-top: 5rem;
  position: relative;
  overflow: hidden;
}
@media (min-width: 760px) {
  .contact {
    margin-top: 10rem;
  }
}
.contact-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5rem;
  place-content: center;
  padding-inline: 4rem;
}
@media (min-width: 760px) {
  .contact-content {
    grid-template-columns: 1fr 2fr;
  }
}
.contact-content .contact-title {
  padding: 1rem;
}
.contact-content .contact-title > h2 {
  font-size: var(--font-size-500);
  text-transform: uppercase;
  text-align: center;
}
.contact-content .contact-title > p {
  font-size: var(--font-size-300);
  margin-top: 1rem;
}
.contact-content .contact-form > h2 {
  font-size: var(--font-size-500);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  margin-bottom: 2rem;
}
.contact .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: center;
}
.contact .form label {
  font-size: var(--font-size-300);
}
.contact .form input {
  height: 2rem;
  font-size: var(--font-size-300);
  width: 80%;
  padding: 10px 0;
  margin-bottom: 30px;
  border: none;
  color: var(--color-neutral-900);
  outline: none;
  background: transparent;
}
.contact .form input:placeholder-shown:not(:focus) {
  border-bottom: 1px solid var(--color-neutral-900);
}
.contact .form input:valid {
  transition: all 450ms ease;
  border-bottom: 1px solid green;
}
.contact .form input:invalid {
  transition: all 450ms ease;
  border-bottom: 1px solid var(--color-accent-700);
}
.contact .form textarea {
  width: 100%;
  height: 10rem;
  font-size: var(--font-size-300);
}
.contact .form-button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: var(--font-size-300);
  border-radius: 10px;
  text-transform: uppercase;
  background-color: var(--color-accent-700);
  border: none;
  color: var(--color-neutral-900);
  cursor: pointer;
}
.contact .form-button:hover {
  transition: all 450ms ease-in-out;
  animation: wiggle 250ms ease;
  font-weight: 900;
  transform: scale(1.2);
}
@keyframes wiggle {
  0% {
    transform: translateX(-10%);
  }
  25% {
    transform: translateX(10%);
  }
  50% {
    transform: translateX(-10%);
  }
  75% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(-10%);
  }
}

.line {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 5%;
  height: 100%;
  z-index: -1;
  transform: skew(45deg);
  background-color: var(--color-accent-700);
}

.line2 {
  position: absolute;
  top: 5%;
  width: 5%;
  height: 100%;
  z-index: -1;
  transform: skew(45deg);
  background-color: var(--color-accent-700);
}
@media (min-width: 760px) {
  .line2 {
    top: 15%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-style);
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-neutral-100);
  color: var(--color-neutral-900);
}

/*# sourceMappingURL=main.css.map */
